services:
  cinebetter:
    build: .
    container_name: cinebetter
    restart: always
    ports:
      - "${PORT:-3000}:${PORT:-3000}"
    environment:
      - NODE_ENV=production
      - PORT=${PORT:-3000}
      - SQLITE_DB=file:/app/data/prod.db
      - TMDB_TOKEN=${TMDB_TOKEN:?error}
    volumes:
      - ./data:/app/data
